<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <meta keywords="" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>A Cool Website</title>
</head>
<body>
    <main>
        <div class="container">
            <h1> New Author</h1>
            <form action="/addauthor" method="post">
                <label for="name">Name:</label>
                <input type="text" required name="name">
                <input type="submit" value="Add Author">
            </form>
        </div>
        <div class="container">
            <h1>All Authors</h1>
            {%for author in authors %}
                <a href="/showauthor/{{author.id}}">{{author.name}}</a>
            {%endfor%}
            <a class='a1'href="/addbook">Show Books</a>
        </div>
    </main>
    <a href="/">Home</a>
</body>
</html>